backports.tarfile==1.2.0
bs4==0.0.2
email-validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.6
fastapi-cli==0.0.6
httptools==0.6.4
importlib-metadata==8.5.0
importlib-resources==6.4.0
ipykernel==6.29.5
jaraco.collections==5.1.0
langchain-community==0.3.10
langchain-openai==0.2.11
pgvector==0.3.6
phidata==2.6.1
pickleshare==0.7.5
pip-chill==1.0.3
psycopg==3.2.3
psycopg-binary==3.2.3
python-multipart==0.0.19
ragatouille==0.0.8.post4
reportlab==4.2.5
uvloop==0.21.0
watchfiles==1.0.0
websockets==14.1
